@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
  @apply text-lg font-semibold tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-violet-400 to-purple-500 hover:text-violet-700 transition-colors duration-200
}
.default{
  @apply text-lg font-semibold tracking-wide text-slate-600 hover:text-violet-700 transition-colors duration-200
}
.container{
  @apply max-w-xl mx-auto md:max-w-full lg:max-w-screen-xl px-5
}
.btn {
  @apply px-6 py-3 font-medium text-white  rounded shadow-md  bg-violet-500 hover:bg-violet-600 duration-200 transition-all ;
}
.heading{
  @apply text-3xl text-slate-700 font-extrabold tracking-wide my-6
}
.sub-title{
  @apply text-xl text-slate-700 font-bold tracking-wide
}
.paragraph{
  @apply  text-slate-500 text-base font-normal tracking-wide
}
.tag{
  @apply py-2 text-violet-600 font-semibold border-2 border-solid border-violet-400 rounded-md w-32 text-center
}